body {
    background-color: #ccc8c8;
    font-family: Arial;
    margin: 0px;

}
p{
    color: rgb(220, 231, 232);
    font-size: 18px;
    margin-top: 5px;
    border: 1px solid rgb(12, 24, 95);
    padding: 10px;
    background-color: rgb(88, 69, 184);
    box-shadow: 5px 5px 10px #323030;
}
h1 {
    margin-left: 20px;
    color: darkblue;
    margin: 10px;
    box-shadow: 5px 5px 10px #323030;

}

.navbar {
    /* border: 1px solid rgb(76, 23, 23); */
    background-color: black;
    padding: 30px;
}

.navbar a {
    padding: 20px;
    color: white;
    text-decoration: none;
    margin-right: 15px;
    margin-top: 0px;
    border-radius: 5px;
}

.navbar a:hover {
    color: white;
    background-color: rgb(58, 57, 57);
    padding: 10px;
}

